.container {
    display: flex;
    align-items: center;
    flex-direction: column;

    min-height: 650px;
    position: relative;
    padding: 0.5rem 3rem;

    background-color: #fff;

    gap: 1rem;
}

.container__data {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-top: 0.5rem;
}
