@import "../../../styles/variables.module.scss";

.button {
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
    border: 1px solid #333;
    padding: 0.5rem 1rem; 

    &:hover {
        transform: scale(1.03);
    }
}

.image {
    width: 80px;
    height: auto;
    border-radius: 0.3rem;
    margin-top: 0.2rem;
}

.text {
    font-size: 1.5rem;
}

.icon {
    font-size: 3.5rem;
    margin-top: 0.6rem;
}

